/* Main */
/* Search */

/* page-link */
.page-link {
  padding: 3rem;
}

@media (max-width: 576px) {
  .page-link {
    padding: 0rem;
    padding-top: 1rem;
  }
}

.page-link ul li {
  text-align: center;
}

/* main blog */

.main-blog__thumbnail {
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

.main-blog__time {
  position: absolute;
  height: 30px;
  width: 140px;
  right: 0;
  top: 8px;
  background-color: #fff;
  font-size: 0.8rem;
  padding: auto;
  display: none;
}

.main-blog__thumbnail:hover .main-blog__time {
  display: block;
}

.main-blog__item {
  border: 1px solid var(--border-color);
  margin-bottom: 3rem;
}

.main-blog__thumbnail img {
  transition: all 1s ease;
  filter: brightness(100%);
}

.main-blog__thumbnail img:hover {
  scale: 1.06;
  filter: brightness(85%);
}

.main-blog__national {
  font-family: var(--inspiration-font);
  color: var(--title-color);
}

.main-blog__title {
  font-size: 1.6rem;
}

.main-blog__tag {
  font-size: 0.8rem;
  letter-spacing: 4px;
}

.main-blog__description {
  padding: 0 2rem;
}

.main-blog__keep {
  color: var(--title-color);
  letter-spacing: 4px;
}

.main-blog__icons {
  margin-bottom: 4rem;
}

.main-blog__icons li a i {
  font-size: 1.6rem;
}

/* Side bar */
aside ul {
  border: 1px solid var(--border-color);
  margin-left: 1.5rem;
  padding: 2rem 2rem 0 2rem;
}

aside ul li {
  padding-bottom: 2rem;
}

aside ul li a {
  display: block;
}

aside ul li .title {
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.side-bar__tag {
  font-size: 0.6rem;
  letter-spacing: 4px;
}

aside ul li .line {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
}

/* Blog list */
.blog-item {
  border: 1px solid var(--border-color);
}

.blog-item__national {
  font-family: var(--inspiration-font);
  color: var(--title-color);
  font-size: 2rem;
}

.blog-item__title {
  font-size: 1rem;
  letter-spacing: 2px;
}

.blog-item__tag {
  font-size: 0.8rem;
  display: block;
}
